<!DOCTYPE html> 
<html>
    <head>
        <title style="color:ffed8c">Disclose</title> 
        <link rel="stylesheet" href="css/bootstrap.css">
        <script src = "httprequest/contact.js" defer></script>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <a class="navbar-brand" href="\static\index.html">Disclose</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarColor01">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item ">
                  <a class="nav-link" href="\static\index.html">Home </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="">About</a>
                </li>
                <li class="nav-item active">
                  <a class="nav-link" href="#">Contact<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link nav1" href="\static\log_in.html">Log-in<span style="font-weight: bold;"></span> </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav1" href="\static\sign_up.html">Sign-up<span style="font-weight: bold;"></span></a>
                </li>
              </ul>
              
            </div>
          </nav>
         <div class="jumbotron">
              <h1 class="display-3">Hello!</h1>
              <p class="lead">If you have any question

                please dont hesitate to send us a message</p>
             
        </div>
        <div class="how-section1">
          <div class="row">
              <div class="col-md-6 how-img">
                  <img src="images1/contact.png" class="rounded-circle img-fluid" alt=""/>
              </div>
              <div class="col-md-6 how-form">
                <form>
                  <fieldset>
                    
                   
                    
                    <div class="form-group">
                      <label for="exampleInputname">Name</label>
                      <input type="text" class="form-control" id="Inputname" placeholder="name">
                    </div>
                    
                    <div class="form-group">
                      <label for="exampleInputEmail1">Email address</label>
                      <input type="email" class="form-control" id="InputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                    </div>
                    <div class="form-group">
                      <label for="exampleTextarea">Example textarea</label>
                      <textarea class="form-control" id="inputTextarea" rows="3"></textarea>
                    </div>
                   <div class="contact_submit">
                     <button id="post-btn" type="button" class="btn btn-primary">Submit</button>
                    </div>
                    
                  </fieldset>
                </form>
              </div>
          </div>
          
          </div>
          
          
      </div>
        
    </body>
    </html>