<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous" />

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600&display=swap"
        rel="stylesheet" />


    <!-- Link Swiper's CSS -->
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">

    <!-- my css -->
    <link rel="stylesheet" href="css/mySwiper.css">
    <link rel="stylesheet" href="css/index.css" />


    <title>Disclose || Building Better Dhaka</title>
</head>

<body>

    <!-- Navbar and Top Banner -->
    <header>

        <!-- NAVBAR -  -->
        <nav class="navbar  navbar-expand-lg navbar-dark d-flex mx-5">
            <a class="navbar-brand" href="#"><img src="images/Logo2.png" alt="Logo"></a>

            <!-- Hamburger Menu-->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- NAVBAR ITEMS -->
            <div class="text-center collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                <ul class="navbar-nav">
                    <!-- 1 Home -->
                    <li class="nav-item active">
                        <a class="nav-link" href="#Home">Home <span class="sr-only">(current)</span></a>
                    </li>

                    <!-- 2 About -->
                    <li class="nav-item">
                        <a class="nav-link" href="#about">About</a>
                    </li>

                    <!-- 3 Contact -->
                    <li class="nav-item">
                        <a class="nav-link" href="#contact">Contact</a>
                    </li>

                    <!-- 4 Button - LogIn -->
                    <li class="nav-item">
                        <button class="btn btn-In">Log In</button>
                    </li>

                    <!-- 5 Button - SignIn -->
                    <li class="nav-item">
                        <button class="btn btn-In">Sign In</button>
                    </li>
                </ul>
            </div>
        </nav>


        <!-- Banner -->
        <div class="banner d-flex align-items-center justify-content-center">

            <div class="d-flex flex-column align-items-center">
                <h1 class="text-center">Share your problems with the Government in a faster and efficient way</h1>

                <button class="btn btn-getStarted">Get Started Now</button>

            </div>

        </div>

    </header>

    <!-- Communicating -->
    <div class="communicating">

        <div class="row d-flex  justify-content-around">
            <!-- Left side er lekha -->
            <div class="col-md-6 d-flex align-items-center ">
                <div class="d-flex flex-column col-text">
                    <h1>Communicate with the right people</h1>
                    <p class="text-left right-padding">It is a long established fact that a reader will be
                        distracted
                        by the readable content of a page
                        when
                        looking at its layout.</p>
                </div>
            </div>

            <!-- right side er Pic -->
            <div class="col-md-6 d-flex align-items-center justify-content-center col-img">
                <img class="" src="images/image2.png" alt="Communicating">
            </div>
        </div>

    </div>


    <!-- Watch Video -->
    <div class="vid d-flex align-items-center justify-content-center flex-column">

        <img src="images/Icons/playButton.png" data-toggle="modal" data-target="#exampleModal"
            alt="watch video button image">
        <h1 class="text-center">Watch Our Video</h1>


        <!-- Modal -->
        <div class="modal fade videoModal" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg">
                <div class="modal-content">

                    <!-- modal-header -->
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Our Video</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <!-- modal-body -->
                    <div class="modal-body ">
                        <video class="video " controls>
                            <source src="video1.mp4" type="video/mp4" />
                        </video>

                        <!-- <h4>HELLO</h4> -->
                    </div>

                    <!-- modal-footer -->
                    <!-- <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div> -->
                </div>
            </div>
        </div>
    </div>


    <!-- Evidence -->
    <div class="evidence">

        <div class="row d-flex  justify-content-around">

            <!-- Left side er Pic -->
            <div class="col-md-6 d-flex align-items-center justify-content-center col-img">
                <img class="" src="images/image3.png" alt="Share Evidence">
            </div>

            <!-- Right side er lekha -->
            <div class="col-md-6 d-flex align-items-center ">
                <div class="d-flex flex-column col-text">
                    <h1 class="text-right">Share Image as evidence</h1>
                    <p class="text-right left-padding">
                        It is a long established fact that a reader will be distracted
                        by the readable content of a page when looking at its layout.
                    </p>
                </div>
            </div>

        </div>

    </div>


    <!-- Give Feedback -->
    <div class="feedback">

        <div class="row d-flex  justify-content-around">

            <!-- Left side er lekha -->
            <div class="col-md-6 d-flex align-items-center">

                <div class="d-flex flex-column container">

                    <div class="d-flex flex-column col-text">
                        <h1 class="text-center">Give feedback</h1>

                        <div class="row d-flex justify-content-center">
                            <button class="btn btn-feedBack">Vote</button>
                            <button class="btn btn-feedBack">Comment</button>
                        </div>
                    </div>

                </div>

            </div>

            <!-- Right side er Pic -->
            <div class="col-md-6 d-flex align-items-center justify-content-center col-img">
                <img class="" src="images/feedback.png" alt="Share Evidence">
            </div>

        </div>
    </div>

    <!-- Hide -->
    <div class="hide">

        <div class="row d-flex  justify-content-around">

            <!-- Left side er Pic -->
            <div class="col-md-6 d-flex align-items-center justify-content-center col-img hide-img">
                <img class="" src="images/image5.png" alt="Hide Identity">
            </div>

            <!-- Right side er lekha -->
            <div class="col-md-6 d-flex align-items-center ">
                <div class="d-flex flex-column col-text">
                    <h1 class="text-right">Hide your identity</h1>
                    <p class="text-right left-padding">
                        It is a long established fact that a reader will be distracted
                        by the readable content of a page when looking at its layout.
                    </p>
                </div>
            </div>
        </div>

    </div>

    <!-- Our Achievements -->
    <div class="achievements">

        <!-- icon -->
        <div class="row d-flex justify-content-center my-3">
            <img src="images/Icons/key(achievement).png" class="img-fluid" alt="">
        </div>

        <!-- our achievements - h1 -->
        <div class="row d-flex justify-content-center mt-3">
            <h1>Our Achievements</h1>
        </div>

        <!-- achievement - paragraph -->
        <div class="row d-flex justify-content-center ">
            <p class="">It is a long established fact that a reader will be distracted
                by the readable content of a page when looking at its layout</p>
        </div>

        <!-- swiper - Library  -->
        <div class="swiper-container swiper-container-coverflow swiper-container-3d swiper-container-initialized swiper-container-horizontal"
            style="cursor: grab;">
            <div class="swiper-wrapper" style="transition: all 0ms ease 0s; transform: translate3d(618px, 0px, 0px);">

                <!-- img 1 -->
                <div class="swiper-slide swiper-slide-active"
                    style="background-image: url(&quot;./images/Achievement_icons/1.jpg&quot;); transition: all 0ms ease 0s; transform: translate3d(0px, 0px, 0px) rotateX(0deg) rotateY(0deg) scale(1); z-index: 1;">
                    <div class="swiper-slide-shadow-left" style="opacity: 0; transition: all 0ms ease 0s;"></div>
                    <div class="swiper-slide-shadow-right" style="opacity: 0; transition: all 0ms ease 0s;"></div>
                </div>

                <!-- img 2 -->
                <div class="swiper-slide swiper-slide-next"
                    style="background-image: url(&quot;./images/Achievement_icons/2.jpg&quot;); transition: all 0ms ease 0s; transform: translate3d(0px, 0px, -100px) rotateX(0deg) rotateY(-50deg) scale(1); z-index: 0;">
                    <div class="swiper-slide-shadow-left" style="opacity: 0; transition: all 0ms ease 0s;"></div>
                    <div class="swiper-slide-shadow-right" style="opacity: 1; transition: all 0ms ease 0s;"></div>
                </div>

                <!-- img 3 -->
                <div class="swiper-slide"
                    style="background-image: url(&quot;./images/Achievement_icons/3.jpg&quot;); transition: all 0ms ease 0s; transform: translate3d(0px, 0px, -200px) rotateX(0deg) rotateY(-100deg) scale(1); z-index: -1;">
                    <div class="swiper-slide-shadow-left" style="opacity: 0; transition: all 0ms ease 0s;"></div>
                    <div class="swiper-slide-shadow-right" style="opacity: 2; transition: all 0ms ease 0s;"></div>
                </div>

                <!-- img 4 -->
                <div class="swiper-slide"
                    style="background-image: url(&quot;./images/Achievement_icons/4.jpg&quot;); transition: all 0ms ease 0s; transform: translate3d(0px, 0px, -200px) rotateX(0deg) rotateY(-100deg) scale(1); z-index: -1;">
                    <div class="swiper-slide-shadow-left" style="opacity: 0; transition: all 0ms ease 0s;"></div>
                    <div class="swiper-slide-shadow-right" style="opacity: 2; transition: all 0ms ease 0s;"></div>
                </div>

                <!-- img 5 -->
                <div class="swiper-slide"
                    style="background-image: url(&quot;./images/Achievement_icons/5.jpg&quot;); transition: all 0ms ease 0s; transform: translate3d(0px, 0px, -200px) rotateX(0deg) rotateY(-100deg) scale(1); z-index: -1;">
                    <div class="swiper-slide-shadow-left" style="opacity: 0; transition: all 0ms ease 0s;"></div>
                    <div class="swiper-slide-shadow-right" style="opacity: 2; transition: all 0ms ease 0s;"></div>
                </div>


            </div>
            <!-- Add Pagination -->
            <div class="swiper-pagination swiper-pagination-bullets"><span
                    class="swiper-pagination-bullet swiper-pagination-bullet-active"></span><span
                    class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span><span
                    class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span><span
                    class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span><span
                    class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span><span
                    class="swiper-pagination-bullet"></span></div>
            <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
        </div>



    </div>

    <!-- some of our authorities -->
    <div class="ourAuthorities">

        <!-- h1 -->
        <div class="row d-flex justify-content-center mt-5 pt-5">
            <h1 class="text-center">Some of our Authorities</h1>
        </div>

        <!-- paragraph -->
        <div class="row d-flex justify-content-center mt-3">
            <p class="text-center">It is a long established fact that a reader will be distracted
                by the readable content of a page when looking at its layout</p>
        </div>

        <!-- 4 rounded pics -->
        <div class="container">


            <div class="row mt-4 d-flex justify-content-center">
                <div class="col-md-3 ">
                    <img src="images/Pictures/auth2.jpg" class="" alt="">
                    <h5 class="text-center p-3">Ward Councillor</h5>
                </div>

                <div class="col-md-3">
                    <img src="images/Pictures/auth2.jpg" class="" alt="">
                    <h5 class="text-center p-3">DPDC ICT Head</h5>
                </div>

                <div class="col-md-3">
                    <img src="images/Pictures/auth2.jpg" class="" alt="">
                    <h5 class="text-center p-3">Chairman of Dhaka WASA</h5>
                </div>

                <div class="col-md-3">
                    <img src="images/Pictures/auth2.jpg" class="" alt="">
                    <h5 class="text-center p-3">Officer-in-charge</h5>
                </div>
            </div>
        </div>

    </div>


    <!-- About Us -->
    <div class="about-us" id="about">

        <!-- h1 -->
        <div class="row d-flex justify-content-center pt-5">
            <h1 class="text-center mt-5">About Us</h1>
        </div>

        <!-- 3 cards with img -->
        <div class="card-deck p-5">

            <div class="row no-gutters">
                <!-- card 1 -->
                <div class="col-lg-4 my-3">
                    <div class="d-flex flex-column justify-content-center ">

                        <!-- img 1 -->
                        <div class="d-flex justify-content-center">
                            <img src="images/Pictures/ishra.png" class="card-img-top" alt="ishra">
                        </div>

                        <!-- text-1 -->
                        <div class="d-flex justify-content-center">
                            <div class="card ">

                                <div class="card-body">
                                    <h5 class="card-title">Ishrakul Munzerin</h5>
                                    <p class="card-text">This is a longer card with supporting text below as a natural
                                        lead-in
                                        to
                                        additional
                                        content. This content is a little bit longer.</p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- card 2 -->
                <div class="col-lg-4 my-3">
                    <div class="d-flex flex-column justify-content-center ">

                        <!-- img 2 -->
                        <div class="d-flex justify-content-center">
                            <img src="images/Pictures/amit.jpg" class="card-img-top" alt="amit">
                        </div>

                        <!-- text-2 -->
                        <div class="d-flex justify-content-center">
                            <div class="card ">

                                <div class="card-body">
                                    <h5 class="card-title">Amit Hasan</h5>
                                    <p class="card-text">This is a longer card with supporting text below as a natural
                                        lead-in
                                        to
                                        additional
                                        content. This content is a little bit longer.</p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <!-- card 3 -->
                <div class="col-lg-4 my-3">
                    <div class="d-flex flex-column justify-content-center ">

                        <!-- img 3 -->
                        <div class="d-flex justify-content-center">
                            <img src="images/Pictures/jabed.jpg" class="card-img-top" alt="jabed">
                        </div>

                        <!-- text-3 -->
                        <div class="d-flex justify-content-center">
                            <div class="card ">

                                <div class="card-body">
                                    <h5 class="card-title">Zobaidul Islam Jabed</h5>
                                    <p class="card-text">This is a longer card with supporting text below as a natural
                                        lead-in
                                        to
                                        additional
                                        content. This content is a little bit longer.</p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>


        </div>

    </div>


    <!-- Contact Us -->
    <div class="contactUs" id="contact">

        <!-- <div class="col-md-6"> -->
        <div class="contactUs-content">

            <!-- h1 -->
            <div class="row d-flex justify-content-center mt-5 pt-5">
                <h1 class="text-center">Contact Us</h1>
            </div>

            <!-- paragraph -->
            <div class="row d-flex justify-content-center mt-3">
                <p class="text-center">It is a long established fact that a reader will be distracted
                    by the readable content of a page when looking at its layout</p>
            </div>
        </div>
        <!-- </div> -->


        <!-- <div class="col-md-6"> -->
        <div class="footer row d-flex align-items-end">
            <!-- <div class="row sr"> -->
            <div class="col-md-6 footer-left d-flex align-self-md-center flex-column">
                <!-- icon-1 -->
                <div class="d-flex flex-row ml-5 p-3">

                    <img class="footer-icon" src="images/Icons/icon1.png" alt="">
                    <p class="align-self-center pl-2">Hatirjil, Modhubaag, Dhaka</p>

                </div>

                <!-- icon-2 -->
                <div class="d-flex flex-row ml-5 p-3">

                    <img class="footer-icon" src="images/Icons/icon2.png" alt="">
                    <p class="align-self-center pl-2">+88 017-12783123</p>

                </div>

                <!-- icon-3 -->
                <div class="d-flex flex-row ml-5 p-3">

                    <img class="footer-icon" src="images/Icons/icon3.png" alt="">
                    <p class="align-self-center pl-2">discloseBD@gov.com</p>

                </div>

            </div>

            <div class="col-md-6 s2 footer-right py-5">
                <h6 class="text-right pr-5">You can also contact us with</h6>
                <div class="d-flex align-items-center justify-content-end pr-5 mt-3">
                    <a href="https://www.facebook.com/" target="_blank"><img class="pr-4"
                            src="images/Icons/facebook.png" alt="facebook"></a>
                    <a href="https://www.instagram.com/" target="_blank"><img class="pr-4"
                            src="images/Icons/instagram.png" alt="instagram"></a>
                    <a href="https://www.twitter.com/" target="_blank"><img class="pr-4" src="images/Icons/twitter.png"
                            alt="twitter"></a>
                    <a href="https://www.whatsapp.com/" target="_blank"><img class="pr-2 "
                            src="images/Icons/whatsapp.png" alt="whatsapp"></a>



                </div>
            </div>
            <!-- </div> -->

        </div>
        <!-- </div> -->




    </div>


    <!-- --------------------------------------------------------------------------------- JS -->

    <!-- Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>


    <!-- when video modal is closed -->
    <script>
        $('.videoModal').on('hide.bs.modal', function (e) {
            var $if = $(e.delegateTarget).find('video');
            // var src = $if.attr("src");
            var src = "video1.mp4";
            $if.attr("src", '/empty.html');
            $if.attr("src", src);
        });
    </script>


    <!-- Swiper JS -->
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

    <!-- Initialize Swiper -->
    <script>
        var swiper = new Swiper('.swiper-container', {
            effect: 'coverflow',
            grabCursor: true,
            centeredSlides: true,
            loop: true,
            slidesPerView: 'auto',
            autoplay: {
                delay: 2500,
                disableOnInteraction: false,
            },
            coverflowEffect: {
                rotate: 50,
                stretch: 0,
                depth: 100,
                modifier: 1,
                slideShadows: true,
            },
            pagination: {
                el: '.swiper-pagination',
            },
        });
    </script>
</body>

</html>