<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous" />
        <script src="https://www.gstatic.com/firebasejs/7.20.0/firebase-app.js"></script>
        <script src="https://www.gstatic.com/firebasejs/7.20.0/firebase-auth.js"></script>
        <!-- TODO: Add SDKs for Firebase products that you want to use
             https://firebase.google.com/docs/web/setup#available-libraries -->
        <script src="https://www.gstatic.com/firebasejs/7.20.0/firebase-analytics.js"></script>
        <script  src="Auth/Auth.js" defer></script>
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600&display=swap"
        rel="stylesheet" />

    <!-- my css -->
    <link rel="stylesheet" href="/static/css/log_in.css">

    <title>Log In</title>
</head>

<body>

    <div class="container">

        <div class="top-part d-flex justify-content-center align-items-center flex-column">

            <img src="/static/imageslogin/image1.png" alt="log in illus">

            <!-- <h6 class="px-5 text-center mb-5">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Harum
                necessitatibus
                soluta, sequi aut, nihil
                similique sapiente exercitationem, minima ipsam
                adipisci quasi!</h6> -->
        </div>

        <div class="user-login m-5">
            <h1 class="text-center">USER LOGIN</h1>
            <h5 class="text-center">Welcome back</h5>

            <form class="needs-validation d-flex justify-content-center align-items-center flex-column" novalidate>

                <!-- row email -->
                <div class="form-row mt-3">
                    <input type="email" class="form-control my-input" placeholder="Email" id="email"
                        required>
                </div>


                <!-- row password -->
                <div class="form-row my-3">
                    <!-- password -->
                    <input type="password" class="form-control my-input" placeholder="Password"
                        id="password" required>
                </div>


                <!-- Remember & Forget password -->
                <div class="form-group d-flex justify-content-between mt-2">
                    <div class="form-check mr-5">
                        <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
                        <label class="form-check-label" for="invalidCheck">
                            Remember
                        </label>

                    </div>

                    <!-- Forget password 
                    <div>
                        <a href="">Forget password?</a>
                    </div>
                    -->
                </div>

                <!-- Log In Button -->
                <div class="text-center px-5 mt-3">
                    <button onclick="signin()" class="btn logIn-btn " type="button">Log In</button>
                </div>

                <!-- create account -->
                <div class=" px-5 d-flex flex-row align-items-center justify-content-center mt-5">
                    <p>Do not have any account?</p>
                    <button class="btn logIn-btn ml-3"><a href="/static/sign_up.html">Create Account</a></button>
                </div>
            </form>
        </div>

    </div>

</body>

</html>